.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background: var(--white);
    min-height: 300px;
}

.services h2 {
    font-weight: 600;
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

.grid {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    max-width: 300px;
}

.card h3 {
    font-weight: 300;
}

@media (max-width: 768px) {
    .grid {
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-around;
    }

    .card {
        flex: 0 0 calc(50% - 2rem);
    }
}
