.story {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem 8rem;
    background: var(--white);
    min-height: 500px;
}

.backgroundLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    opacity: 0.03;
}

.inspo {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    gap: 2rem;
    max-width: 700px;
    margin: 0 auto;
}

.inspo h2 {
    color: var(--light-olive);
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
}

.dividerH {
    width: 300px;
    height: 1px;
    background: var(--tan);
    margin: 0 auto;
}

.inspo p {
    color: var(--dark-olive);
}

@media (max-width: 768px) {
    .story {
        padding: 2rem;
    }

    .sectionContent {
        flex-direction: column;
    }
}
